/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* Body styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    text-align: justify;
    font-weight: 300;
    color: rgb(41, 39, 39);
    background-color: rgba(255, 255, 255, 0.719);
}

h1,h2,h3 {
    font-family: 'Proza Libre', sans-serif;
    color: #708dc0;
    font-weight: 500;
}

h4,h5 {
    font-family: 'Proza Libre', sans-serif;
    color: #92abd6;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-size: 3em;
}

h3 {
    text-align: center;
    font-size: 2.5em !important;
}

.main-content {
    min-height: 100vh;
    margin-bottom: -57px;
}

.main-content:after {
    content: "";
    display: block;
    height: 57px;
}

.btn-primary {
    background-color: #f5bf4b;
    outline: none !important;
    border-radius: 25px;
    border: none !important;
    font-weight: 400 !important;
    box-shadow: none !important;
}

.btn-primary:hover,.btn-primary:active,.btn-primary:focus {
    background-color: #ee739a;
    box-shadow: -2px 3px 5px 0px rgba(69,114,184,0.51) !important;
    -webkit-box-shadow: -2px 3px 5px 0px rgba(69,114,184,0.51) !important;
    -moz-box-shadow: -2px 3px 5px 0px rgba(69,114,184,0.51) !important;
}


/* Navbar */
.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: #2ecc3b !important;
    margin: auto 1rem;
    font-weight: 400;
}

.nav-link:hover,.nav-link:focus,.nav-link:active {
    color: #22b42f !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-collapse {
    margin-left: 115px;
}

.nav-brand {
    margin-left: 3%;
}

.nav-brand-img {
    width: 190px;
    position: absolute;
}

@media only screen and (max-width: 800px) {
    .nav-item {
        margin-top: 1%;
    }

    .nav-brand-img {
        width: 150px;
    }
}


/* Scroll to top arrow */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #92a3c5e8;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: #92a3c5;
}

#return-to-top:hover i {
    top: 5px;
}


/* Top content responsive */
.top-con {
    margin-top: 9%;
}

@media screen and (max-width: 1200px)
{
    .top-con {
        margin-top: 17%;
    }
}

@media screen and (max-width: 600px)
{
    .top-con {
        margin-top: 40%;
    }
}


/* Top text content */
.top-text-con {
    margin-top: 3%;
}


/* Some fa icons */
.fa-wrench,.fa-pencil {
    color: rgb(133, 128, 128);
}


/* Other text content */
.other-con {
    margin-top: 8%;
}


/* Contact Form */
input,textarea,.form-control {
    background-color: #acfc2c96 !important;
    border-radius: 25px;
    border-width: 1px;
    border-color: rgb(245, 158, 118) !important;
    box-shadow: none;
}

textarea {
    border-radius: 35px !important;
    padding: 15px !important;
}

input:hover,textarea:hover,.form-control:hover {
    border-width: 2px;
    background-color: #acfc2cb0 !important;
}

input:focus,textarea:focus.form-control:focus,input:active,textarea:active,.form-control:active {
    background-color: #acfc2cb0 !important;
    box-shadow: rgba(245, 158, 118, 0.781) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
    background-color: #acfc2cb0 !important;
    box-shadow: rgba(245, 158, 118, 0.781) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    outline: none !important;
}

textarea {
    resize: none;
}

label {
    margin-top: 2%;
    font-weight: 400;
    margin-left: 1%;
    color: rgba(57, 119, 155, 0.884);
}

.contact-btn {
    float: right;
    margin-top: 2%;
}

@media only screen and (max-width: 600px)
{
    input,textarea,.form-control {
        width: 290px;
    }
}

@media only screen and (max-width: 768px)
{
    .contact-h {
        margin-top: 7%;
    }
}

@media only screen and (max-width: 600px)
{
    #contact_form {
        margin-top: 9%;
    }
}



/* Summary Section */
.social-svg {
    fill: #fdca5d;
    margin-left: 3%;
    margin-top: 3%;
}

.social-svg:nth-child(0)
{
    margin-left: 0;
}

.social-svg:hover,.social-svg:active,.social-svg:focus {
    fill: #f28bac;
}

.social-con {
    text-decoration: none !important;
}

@media only screen and (max-width: 600px)
{
    .social-svg {
        margin-top: 6%;
    }

    .social-con {
        margin-top: 7%;        
    }
}



/* Footer */
footer {
    margin-top: 5%;
    height: 57px;
    background-color: #92a3c5e8;
}



/* 404 Page */
img.error_img {
    margin: auto;
    display: flex;
    width: 420px;
    margin-top: 3%;
    align-items: center;
    justify-content: center;
}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

@media only screen and (max-width: 550px) 
{
    .error_img {
        width: 250px !important;
    }
}



/* Homepage */
.homepage-img {
    width: 400px;
}

.skill-tag {
    background-color: #fdca5d;
    float: left;
    color: #fff;
    border-radius: 25px;
    padding: 7px 10px;
    font-weight: 700;
    text-align: center;
    margin: 6px;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px, rgba(0, 0, 0, 0.23) 0px 2px 4px;
}

.skill-tag-big {
    background-color: #f5bf4b;
    float: left;
    color: #fff;
    border-radius: 25px;
    padding: 9px 12px;
    text-align: center;
    font-weight: 400;
    margin: 5px 8px;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px, rgba(0, 0, 0, 0.23) 0px 2px 4px;
}

.soft_skill-tag {
    background-color: #f28bac;
    float: left;
    color: #fff;
    border-radius: 25px;
    padding: 7px 10px;
    font-weight: 700;
    text-align: center;
    margin: 6px;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px, rgba(0, 0, 0, 0.23) 0px 2px 4px;
}

.soft_skill-tag-big {
    background-color: #ee739a;
    float: left;
    color: #fff;
    border-radius: 25px;
    padding: 9px 12px;
    font-weight: 400;
    text-align: center;
    margin: 5px 8px;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px, rgba(0, 0, 0, 0.23) 0px 2px 4px;
}

.fa-star:nth-child(1) {
    margin-left: 11px;
}

.resume-btn {
    text-align: center;
    margin: auto;
    display: flex;
    width: 280px;
    padding: 2%;
    justify-content: center;
    background-color: #ee739a;
    border-radius: 15px;
}

.resume-btn:hover,.resume-btn:active,.resume-btn:focus {
    background-color: #708dc0;
}

@media only screen and (max-width: 1200px)
{
    .homepage-img {
        width: 300px;
    }
}



/* Projects Page */
blockquote{
    margin: 0 10px;
    quotes: "\201C""\201D""\2018""\2019";
    padding: 7px 20px;
    font-style: italic;
}

blockquote:before {
    content: open-quote;
    line-height: 0;
    font-weight: 400;
    left: -10px;
    position: relative;
    top: 20px;
    color: #f28bac;
    font-size: 4em;
}

.project-img {
    height: 300px;
}

.cstm-height-card .card-img-top {
    height: 200px;
    object-fit: cover;
    border-radius: 7px;
    border-color: #708dc0;
}

.pro-card {
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 4%;
}

.pro-card:hover,.pro-card:active,.pro-card:focus {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pro-card-body {
    background-color: #ffe4c470;
}

.demo-btn {
    border-radius: 5px !important;
    float: left;
}

.code-btn {
    border-radius: 5px !important;
    float: right;
    background-color: #ee739a !important;
}

.code-btn:hover,.code-btn:active,.code-btn:focus {
    background-color: #fdca5d !important;
}

@media only screen and (max-width: 768px)
{
    .project-img {
        height: 200px;
    }
}



/* Prevent horizontal scroll */
html {
    overflow-x: hidden;
}