<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <span style="margin-top: 1%; color: #fff; font-weight: 500">
        Brewed with <i class="fas fa-heart"></i> by Swatilekha Roy, 2026.
        <br />
        <em style="font-size: 0.9rem"
          >Currently stumbled upon by
          <span id="stats">beautiful</span> humans.</em
        >
      </span>
    </div>
  </div>
</footer>

<!-- Scroll-to-top Arrow -->
<a href="javascript:" id="return-to-top">
  <i class="fa fa-angle-up" aria-hidden="true" style="font-size: 30px"></i>
</a>

<!-- GoatCounter Tracking Script -->
<script
  data-goatcounter="https://swatilekharoy.goatcounter.com/count"
  async
  src="https://gc.zgo.at/count.js"
></script>
